*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url(./images/img1.jpg);
    border-bottom: 8px solid rgb(30, 30,30);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.content{
   background-image:  linear-gradient(0deg,rgb(0 0 0) 0,#00000087 29%,rgb(0 0 0 / 78%));
}
nav{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
    nav img{
height: 50px;
    }
    .langbtn{
        margin-right: 20px;
        background: none;
        height:30px;
        width: 100px;
        border-radius: 5px;
        color: white;
    }
    .langbtn option{
        background-color: rgb(63, 63,63);
    }
    #sign-btn{
        height: 35px;
        width: 100px;
        background-color: #e50914;
        border-radius: 5px;
        color: white;
    }
    .Hero{
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
    }
    .text{
        text-align: center;
    }
    .text h1{
        color: white;
        font-size: 45px;
    }
    .Hero .text h3{
        color: white;
        font-size: 28px;
        padding: 15px 15px;
    }
    .Hero .text p{
        color: white;
        font-size: 18px;
        padding: 15px 15px;
    }
    .Hero form{
        background-color: #fff;
        display: flex;
        width: 50%;
        height: 50px;
        margin: 10px;
    }
    .Hero form input{
        width: 70%;
        height: 100%;
        padding: 10px;
        outline: none;
    }
    .Hero form button{
        width: 30%;
        height: 100%;
        padding: 10px;
        background-color: #e50914;
        border: none;
        font-size:x-large;
        color: #fff;
    }
    #TV{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        flex-wrap: wrap;
        border-bottom: 8px solid rgb(30, 30, 30);
    }
    

    .text2{
        width: 487px;
        padding: 10px;
        display: flex;
        align-items: flex-start;
       justify-content: center;
       flex-direction: column;
    }
    
    #TV.text2 h1{
        color: #fff;
        font-size: 50px
    }
    #TV p{
        color: #fff;
        font-size: 24px;
    }
    /* #TV div img{
        height: 385px;
        margin: 55px;
    } */
    #TV{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        flex-wrap: wrap;
        border-bottom: 8px solid rgb(30, 30, 30);
    }
    .text2{
        width: 487px;
        padding: 10px;
        display: flex;
        align-items: flex-start;
       justify-content: center;
       flex-direction: column;
    }
    #TV .text2 h1{
color: #fff;
font-size: 50px;
    }
    #TV p{
        color: #fff;
        font-size: 24px;
    }
    #TV{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        flex-wrap: wrap;
        border-bottom: 8px solid rgb(30, 30, 30);
    }
    .text2{
        width: 487px;
        padding: 10px;
        display: flex;
        align-items: flex-start;
       justify-content: center;
       flex-direction: column;
    }
    #TV.text2 h1{
        color: #fff;
        font-size: 50px
    }
    #TV p{
        color: #fff;
        font-size: 24px;
    } #TV{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        flex-wrap: wrap;
        border-bottom: 8px solid rgb(30, 30, 30);
    }
    .text2{
        width: 487px;
        padding: 10px;
        display: flex;
        align-items: flex-start;
       justify-content: center;
       flex-direction: column;
    }
    #TV.text2 h1{
        color: #fff;
        font-size: 50px
    }
    #TV p{
        color: #fff;
        font-size: 24px;
    }
    .fre
    {
        background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid rgb(34, 34, 34);
    }
    .fre h1{
        text-align: center;
    padding-top: 60px;
    padding-bottom: 55px;
    font-size: 58px;
    }
    .fre .fre1{
        background-color: rgb(48, 48, 48);
        width: 60%;
        text-align: left;
        font-size: 30px;
        color: white;
        margin-bottom: 10px;
        padding: 22px 40px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        
    }
    .fre .fre2{
        background-color: rgb(48, 48, 48);
        width: 60%;
        text-align: left;
        font-size: 30px;
        color: white;
        margin-bottom: 10px;
        padding: 22px 40px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
    }
    .fre .fre3{
        background-color: rgb(48, 48, 48);
        width: 60%;
        text-align: left;
        font-size: 30px;
        color: white;
        margin-bottom: 10px;
        padding: 22px 40px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
    }
    .fre .fre4{
        background-color: rgb(48, 48, 48);
        width: 60%;
        text-align: left;
        font-size: 30px;
        color: white;
        margin-bottom: 10px;
        padding: 22px 40px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
    }
    .fre .fre5{
        background-color: rgb(48, 48, 48);
        width: 60%;
        text-align: left;
        font-size: 30px;
        color: white;
        margin-bottom: 10px;
        padding: 22px 40px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
    }
    .fre .fre6{
        background-color: rgb(48, 48, 48);
        width: 60%;
        text-align: left;
        font-size: 30px;
        color: white;
        margin-bottom: 10px;
        padding: 22px 40px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
    }
    .fre p{
        padding-top: 50px;
    padding-bottom: 20px;
    color: white;
    font-weight: 400;
    font-size: 23px;
}
    .fre form{
        display: flex;
    height: 60px;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 60px;
    }
    .fre form input{
        width: 70%;
    height: 100%;
    font-size: larger;
    padding: 10px;
    outline: none;
    }
    .fre form button{
        width: 30%;
        height: 100%;
        background-color: rgb(229, 9, 20);
        color-scheme: white;
        font-size: 25px;
        border-radius: 2px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
    }
    .ft {
        color: rgb(34, 34, 34);
        background-color: black;
        align-items: center;
        padding: 40px 100px;
    }
    ul{
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }